@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300&display=swap');

* {
  margin: 0;
  padding: 0;
  font-family: 'Montserrat', sans-serif;
}

h3 {
  cursor: pointer;
}

h3:hover {
  text-decoration: underline;
}

/* TIMER */
#timer {
  position: relative;
  width: 20vw;
  height: auto;
  margin: auto;

  @media (min-height: 600px) {
    width: 50vw;
  }

  @media (min-height: 1000px) {
    width: 50vw;
  }
}

svg {
  transform: rotate(-90deg);
  width: 100%;
  height: auto;
}

circle#track {
  fill: none;
  stroke: #425572;
  stroke-width: 5%;
}

circle#progress {
  fill: none;
  stroke: #FE8F1A;
  stroke-width: 5%;
}

#logo-container {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 60%;
  height: 60%;
  overflow: hidden;
}

#logo {
  width: 100%;
  height: auto;
}


/* MENU */
#menu, #options {
  display: flex;
  justify-content: space-around;
  margin-bottom: 1vw;
  margin-top: 3vw;
}

#menu > h3 {
  font-size: 6vw;
  text-align: center;

  @media (min-width: 1000px) {
    font-size: 4vw;
  }
}

#options > h3, #menu > h3 {
  font-size: 5vw;
  text-align: center;
  background-color: blue;
  padding: 1%;
  border-radius: 5px;
  color: white;

  @media (min-width: 1000px) {
    font-size: 3vw;
  }
}

#time {
  font-family: monospace;
  font-weight: 200;
  font-size: 10vw;
  text-align: center;
  margin-bottom: 2vw;

  @media (min-width: 1000px) {
    font-size: 5vw;
  }
}

@media (min-width: 600px) {
  #menu > h3 {
    font-size: 2vw;
  }

  #options > h3 {
    font-size: 1.5vw;
  }

  #time {
    font-size: 3vw;
  }
}


/* PAGES */
#standard-page-menu, #hotpotato-page-menu {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: row;
  padding: 5%;
}

#standard-page-menu > h3, #hotpotato-page-menu > h3 {
  text-align: center;
  font-size: 5vw;
}

@media (min-width: 600px) {
  #standard-page-menu > h3, #hotpotato-page-menu > h3 {
    font-size: 2vw;
  }
}
